<% provide(:title, 'Help') %>

<section id="help-page">
  <header id="overview" class="jumbotron subhead">
    <h1>Help</h1>
  </header>


  <ul class="breadcrumb">
    <li>
      <%= link_to "Home", root_path %> <span class="divider">/</span>
    </li>
    <li class="active">
      <%= link_to "Help", static_pages_help_path %>
    </li>
  </ul>
</section>