<% provide(:title, "#{t(:home)}") %>

<section id="home-page">
  <header id="overview" class="jumbotron subhead">
    <h1>Tissues</h1>
    <p class="lead"><%= t(:home_tagline) %></p>
  </header>

  <% if signed_in? %>
  
  <% else %>

  <% end %>
  
</section>