<% provide(:title, "#{t("home.title")}") %>

<section id="home-page">
  <header id="overview" class="jumbotron subhead">
    <h1>Tissues</h1>
    <p class="lead"><%= t("home.tagline") %></p>
  </header>

  <% if signed_in? %>

  <% else %>

  <% end %>

</section>