<% provide(:title, 'Home') %>

<section id="home-page">

  <header id="overview" class="jumbotron subhead">
    <h1>Tissues</h1>
    <p class="lead">'cause everybody has issues, even applications.</p>
  </header>

  <% if signed_in? %>
  
  <% else %>

  <% end %>
  
</section>