<% provide(:title, t("issues.title")) %>

<section id="issues-page">
  <header id="overview" class="jumbotron subhead">
    <h1><%= t("issues.title") %></h1>
  </header>

  <% if @issues.any? %>
  <div id="issues" class="clearfix">
    <% @issues.each do |issue| %>
      <%= render issue %>
    <% end %>
    <%= page_navigation_links @issues %>
  </div>
  <% else %>
  <!-- create project teaser -->
  <% end %>
  
</section>