<% provide(:title, 'All users') %>

<section id="users-page">
  
  <header id="overview" class="jumbotron subhead">
    <h1>Users</h1>
    <p class="lead">Bug hunters.</p>
  </header>

  <ul class="breadcrumb">
    <li>
      <%= link_to "Home", root_path %> <span class="divider">/</span>
    </li>
    <li class="active">
      <%= link_to "Users", users_path %>
    </li>
  </ul>
  
  <ul class="avatars-list clearfix">
  <% @users.each do |user| %>
    <%= render user %>
  <% end %>
  </ul>

  <%= will_paginate %>
  
</section>