<% provide(:title, t("users.all")) %>

<section id="users-page">

  <header id="overview" class="jumbotron subhead">
    <h1><%= t("users.all") %></h1>
  </header>

  <ul class="avatars-list clearfix">
  <% @users.each do |user| %>
    <%= render user %>
  <% end %>
  </ul>

  <%= page_navigation_links @users %>

</section>