<% if object.errors.any? %>
  <section class="alert alert-error">
    <a class="close" data-dismiss="alert">&times;</a>
    <header>
      <h4 class="alert-heading">
        <%= pluralize(object.errors.count, "error") %>
        prohibited this <%= object.class.to_s.underscore.humanize.downcase %>
        from being saved:
      </h4>
    </header>
    

    <ul>
    <% object.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>

  </section>
  
<% end %>