<% if object.errors.any? %>
  <section class="alert alert-error">
    <header>
      <h2>
        <%= pluralize(object.errors.count, "error") %>
        prohibited this <%= object.class.to_s.underscore.humanize.downcase %>
        from being saved:
      </h2>
    </header>
    <p>There were problems with the following fields:</p>

    <ul>
    <% object.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>

  </section>
  
<% end %>