<% provide(:title, "#{t("projects.edit")} #{@project.name}") %>

<section id="projects-page">
  <header id="overview" class="jumbotron subhead">
    <h1><%= t("projects.edit") %></h1>
  </header>


  <%= render "form" %>
  
</section>