<% provide(:title, 'My Projects') %>
<h1>Projects#index</h1>
<p>Find me in app/views/projects/index.html.erb</p>

<% flash.each do |key, value| %>
  <div class="flash <%= key %>"><%= value %></div>
<% end %>

<% @projects.each do |project| %>
  <article>
    <header>
      <h1><%= project.name %></h1>
    </header>
    <%= link_to "Edit project", edit_project_path(project) %>
  </article>
<% end %>
