<% provide(:title, 'Projects') %>

<section id="projects-page">
  <header id="overview" class="jumbotron subhead">
    <h1>Projects</h1>
    <p class="lead">Here come the bugs.</p>
  </header>

  <ul class="breadcrumb">
    <li>
      <%= link_to "Home", root_path %> <span class="divider">/</span>
    </li>
    <li class="active">
      <%= link_to "Projects", projects_path %>
    </li>
  </ul>

  <% if @projects.any? %>
  <div id="projects" class="clearfix">
    <% @projects.each do |project| %>
      <%= render project %>
    <% end %>
    <%= will_paginate %>
  </div>
  <% else %>
  <!-- create project teaser -->
  <% end %>
  
</section>