<% provide(:title, t("projects.title")) %>

<section id="projects-page">
  <header id="overview" class="jumbotron subhead">
    <h1><%= t("projects.title") %></h1>
  </header>

  <% if @projects.any? %>
  <div id="projects" class="clearfix">
    <% @projects.each do |project| %>
      <%= render project %>
    <% end %>
    <%= page_navigation_links @projects %>
  </div>
  <% else %>
  <!-- create project teaser -->
  <% end %>

</section>