<% provide(:title, t("projects.create")) %>

<section id="projects-page">
  <header id="overview" class="jumbotron subhead">
    <h1><%= t("projects.create") %></h1>
  </header>

  <%= render "form" %>
  
</section>